@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BlackItalic.woff2") format("woff2"), url("../fonts/Lato-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-LightItalic.woff2") format("woff2"), url("../fonts/Lato-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato Hairline";
  src: url("../fonts/Lato-Hairline.woff2") format("woff2"), url("../fonts/Lato-Hairline.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato Hairline";
  src: url("../fonts/Lato-HairlineItalic.woff2") format("woff2"), url("../fonts/Lato-HairlineItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Black.woff2") format("woff2"), url("../fonts/RedHatDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/RedHatDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Italic.woff2") format("woff2"), url("../fonts/RedHatDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/RedHatDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-ExtraBold.woff2") format("woff2"), url("../fonts/RedHatDisplay-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-LightItalic.woff2") format("woff2"), url("../fonts/RedHatDisplay-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Bold.woff2") format("woff2"), url("../fonts/RedHatDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/RedHatDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Medium.woff2") format("woff2"), url("../fonts/RedHatDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/RedHatDisplay-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Light.woff2") format("woff2"), url("RedHatDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-SemiBold.woff2") format("woff2"), url("../fonts/RedHatDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-SemiBoldItalic.woff2") format("woff2"), url("../fonts/RedHatDisplay-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Regular.woff2") format("woff2"), url("../fonts/RedHatDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.info-list__date, .info-list__tag {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}

* {
  margin: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

input {
  display: block;
}

image {
  display: block;
}

svg {
  display: block;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .container {
    max-width: 1199px;
    padding: 0 34px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 767px;
    padding: 0 10px;
  }
}

.header-container {
  height: 70px;
  padding: 15px 0;
  display: flex;
  align-items: center;
}
.header-container__holder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container__holder input {
  display: none;
}
.header-container__logo {
  display: block;
  width: 142px;
  height: 12px;
}
.header-container__logo > svg {
  display: block;
  width: inherit;
  height: inherit;
}
.header-container__search {
  display: block;
  width: 17px;
  height: 17px;
}
.header-container__search > svg {
  display: block;
  width: inherit;
  height: inherit;
}
.header-container__items {
  display: flex;
  align-items: center;
}
.header-container__nav {
  display: flex;
  position: static;
  visibility: visible;
  height: auto;
  background: none;
  padding: 0;
  transition: initial;
  margin-right: 80px;
}
.header-container__nav > ul {
  display: flex;
}
.header-container__nav > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 42px 0 0;
}
.header-container__nav > ul > li > a {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 5px;
  position: relative;
}
.header-container__nav > ul > li > a:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -5px;
  width: 0;
  height: 1.5px;
  background-color: #000000;
  transition: width 0.35s;
}
.header-container__nav > ul > li > a:hover:before {
  width: 70%;
}
.header-container__nav > ul > li:last-child {
  margin: 0 30px 0 0;
}
@media screen and (max-width: 1200px) {
  .header-container .header-container__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 42px;
    height: 42px;
    padding: 10px;
  }
  .header-container .header-container__menu > span {
    display: block;
    height: 2px;
    border-radius: 2px;
    background: #000000;
    width: 100%;
  }
  .header-container .header-container__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 75px 15px 50px;
    height: 100vh;
    transition: 0.5s all;
    visibility: hidden;
    z-index: 0;
  }
  .header-container .header-container__nav > ul {
    display: flex;
    flex-direction: column;
  }
  .header-container .header-container__nav > ul > li {
    margin-bottom: 30px;
    text-align: center;
  }
  .header-container .header-container__nav > ul > li > a {
    font: 34px/1.3;
  }
  .header-container .header-container__items {
    position: relative;
    flex-direction: row-reverse;
    gap: 40px;
  }
  .header-container .header-container__items input {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    display: block;
  }
  .header-container .header-container__items input:checked {
    z-index: 3;
  }
  .header-container .header-container__items input:checked ~ .header-container__menu {
    z-index: 2;
  }
  .header-container .header-container__items input:checked ~ .header-container__nav {
    top: 0;
    visibility: visible;
    z-index: 1;
  }
}
@media screen and (max-width: 767px) {
  .header-container .header-container__items {
    gap: 10px;
  }
}

.title-section {
  background-image: url("../img/bgimage.jpg");
  background-size: cover;
  background-position: center;
  padding: 70px 0 344px 0;
}
@media screen and (max-width: 1199px) {
  .title-section {
    background-image: url("../img/bgimageM.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media screen and (max-width: 767px) {
  .title-section {
    background-image: url("../img/bgimageS.jpg");
    background-size: cover;
    background-position: center;
    padding: 70px 0 344px 0;
  }
}
.title-section__caption {
  width: 100%;
  max-width: 770px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
}
@media screen and (max-width: 1199px) {
  .title-section__caption {
    font-size: 36px;
    line-height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .title-section__caption {
    font-size: 30px;
    line-height: 50px;
  }
}

.section-blog__title {
  margin: 90px 0 50px 0;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
}
@media screen and (max-width: 1199px) {
  .section-blog__title {
    margin: 70px 0 50px 0;
  }
}
@media screen and (max-width: 767px) {
  .section-blog__title {
    margin: 70px 0 50px 0;
    text-align: center;
  }
}

.section-blog__blog-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .section-blog__blog-1 {
    gap: 20px;
    align-items: normal;
  }
}
@media screen and (max-width: 767px) {
  .section-blog__blog-1 {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    flex-direction: column-reverse;
  }
}

.info-list__tag {
  margin-bottom: 30px;
}

.info-list__title {
  width: 100%;
  margin-bottom: 15px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .info-list__title {
    margin-bottom: 10px;
  }
}

.info-list__date {
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .info-list__date {
    margin-bottom: 40px;
  }
}

.info-list__description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}

.section-blog__blog-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 90px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .section-blog__blog-2 {
    gap: 20px;
    align-items: normal;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 767px) {
  .section-blog__blog-2 {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 70px;
  }
}

.blog-2__list-item {
  margin-left: 120px;
}
@media screen and (max-width: 1199px) {
  .blog-2__list-item {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .blog-2__list-item {
    margin-left: 0;
  }
}

.section-latest-posts__heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .section-latest-posts__heading {
    flex-direction: column;
  }
}

.heading__title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

.heading__viewall {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}

.section-latest-posts__columns {
  display: flex;
  gap: 30px;
  margin-bottom: 85px;
}
@media screen and (max-width: 1199px) {
  .section-latest-posts__columns {
    flex-direction: column;
  }
}
@media screen and (max-width: 1199px) {
  .columns-list1, .columns-list3 {
    display: flex;
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .columns-list1, .columns-list3 {
    flex-direction: column;
  }
}

@media screen and (max-width: 1199px) {
  .columns-list2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .columns-list2 {
    flex-direction: column;
  }
}

.columns__heading {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}

.columns__title {
  margin-bottom: 20px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

.columns__description {
  margin-bottom: 25px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}

.section-popular__columns {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 55px;
}
@media screen and (max-width: 1199px) {
  .section-popular__columns {
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .section-popular__columns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.columns__heading2 {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}

.section-popular__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.section-popular__heading .heading__title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
.section-popular__heading .heading__viewall {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}

.section-popular__more {
  margin: 0 auto;
  display: block;
  margin-bottom: 90px;
  background: #565656;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding: 10px 45px;
  transition: 0.3s all;
}

.section-popular__more:hover {
  background: #ada6a6;
  cursor: pointer;
}

.info {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  gap: 230px;
}
@media screen and (max-width: 1199px) {
  .info {
    flex-direction: column;
    gap: 70px;
  }
}
@media screen and (max-width: 767px) {
  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
}
.info__title {
  margin-bottom: 20px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

.info__content {
  margin-bottom: 40px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}

.info__content2 {
  margin-bottom: 90px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}

.section-footer {
  background: #F4F4F4;
}
.section-footer__title {
  margin-bottom: 30px;
  padding-top: 70px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .section-footer__title {
    font-size: 32px;
  }
}
.section-footer__tel {
  margin-bottom: 15px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .section-footer__tel {
    font-size: 18px;
  }
}
.section-footer__mail {
  margin-bottom: 25px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .section-footer__mail {
    font-size: 18px;
  }
}

.footer-info {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  .footer-info {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .footer-info {
    flex-direction: column;
  }
}

@media screen and (max-width: 1199px) {
  .section-footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .section-footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.rights {
  padding-bottom: 30px;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

.socials {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .socials {
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
}
.socials__list {
  display: flex;
  gap: 23px;
  transition: 0.9 all;
}

.list-item:hover use {
  fill: #fff;
}

.list-item {
  border: 1px solid #565656;
  padding: 13px;
  background: #F4F4F4;
}

.list-item:hover {
  background: #000000;
  cursor: url("img/cursor.png"), auto;
}

@media screen and (max-width: 768px) {
  .title-section {
    background-image: url(/img/laptop/bg-imagelaptop.png);
  }
}/*# sourceMappingURL=main.css.map */